# Logs
logs/
*.log
npm-debug.log*

# Node.js dependencies
node_modules/

# Environment variables
.env

# Kafka logs
kafka-logs/

# Database files
*.sqlite
db/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build artifacts
dist/
coverage/

# Temporary files
*.tmp
*.bak
*.swp
